body{
   background-color: #2A5D5A;
}
.dodasi{
    font-size: 25px;
    background-color: #311313;
    width: 640px;
    height: 120px;
    margin: 22px 420px;
    color: white;
    box-sizing: border-box;
    padding: 1px 110px;
}
.ota{
    width:1000px;   
    height: 640px;
    border: 8px solid #FF0606;
    background-color: black;
   margin: 80px auto;
   padding-left: 52px;
   padding-right: 52px;
   padding-top: 39px;
   padding-bottom: 51px;
   box-sizing: border-box;
}
.bola1{
    width: 900px;
    height: 260px;
    background-color:#1FE8B7;
    box-sizing: border-box;
    margin-bottom: 30px;
    font-size: 25px;
    padding: 40px 70px;
}


.bola2{
     width: 900px;
    height: 260px;
    background-color: #1FE8B7; 
    padding: 25px;
    box-sizing: border-box;
    font-size: 25px;
    padding: 40px 70px;
}
